<!-- _leftSideBarMenu.html -->
<li class="nav__item">
    <a class="nav__link" href="/">
        <span class="channel-link">
            <span class="channel-link__icon">#</span>
            <span class="channel-link__element">Home</span>
        </span>
    </a>
</li>
<li class="nav__item">
    <a class="nav__link" href="/about-us">
        <span class="channel-link">
            <span class="channel-link__icon">#</span>
            <span class="channel-link__element">About Us</span>
        </span>
    </a>
</li>
